*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #00E4ff;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background: #000;
    color: var(--text-color);
}
span{
    color: var(--main-color);
}
section{
    padding: 50px 10% 5px;
}
.main-text{
    text-align: center;
}
.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.portofolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 3rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    cursor: pointer;
}
.row img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 300px;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.8), #000);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
}
.row:hover .layer{
    height: 0%;
}